<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.furniture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Furniture">
        <activity
            android:name=".views.CheckOutActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".views.ShippingActivity"
            android:exported="false"></activity>
        <activity
            android:name=".views.AddShippingActivity"
            android:exported="false"></activity>
        <activity
            android:name=".views.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".views.NewPassWordActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".views.EnterPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".views.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
    </application>

</manifest>